body {
    background-color: #F5F4F4;
}

#title {
    font-family: 'Days One', sans-serif;
    color: rgb(61, 61, 61);
    font-weight: 20px;
}
img {
    border-radius: 10px;
    margin: auto;
}
#main {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

