body {
    background-color: #F5F4F4;
    text-align: center;
    margin: 0;
}

#title {
    font-family: 'Days One', sans-serif;
    color: rgb(61, 61, 61);
    font-weight: 20px;
}
img {
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto;
}

